@using North.Models;
@model List<Product>
@{
    ViewBag.Title = "Urunler";
    Layout = "~/Views/_LayoutPage.cshtml";
}
@{
    string kategoriadi = "";
    if (Model.FirstOrDefault() == null || Model.Count == 0)
    {
        kategoriadi = "Kategori Bulunamadı";
    }
    else
    {
        kategoriadi = Model.FirstOrDefault()?.Category.CategoryName;
    }
}
<div class="col-md-8 col-md-offset-2">
    <span class="text-success">@kategoriadi</span>
    @if (Model.Count == 0)
    {
        <br />
        <a href="@Url.Action("Index","Home")" class="btn btn-lg btn-danger">Ana sayfaya geri dön</a>
    }
    else
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ürün Adı</th>
                    <th>Fiyatı</th>
                    <th>Stok</th>
                    <th>Satışta Mı</th>
                    <th>Düzenle</th>
                </tr>
            </thead>
            <tbody>
                @{ int sayac = 0;}
                @foreach (var item in Model)
                {
                    sayac++;
                    <tr>
                        <th scope="row">@sayac</th>
                        <td>@item.ProductName</td>
                        <td>@( $"{item.UnitPrice:c2}")</td>
                        <td>@item.UnitsInStock</td>
                        <td>@(!item.Discontinued ? Html.Raw("<span class='text-success'>Satışta</span>") : Html.Raw("<span class='text-danger'>Satışta degil</span>"))</td>
                        <td><a href="@Url.Action("Duzenle", "Urun", new { id = item.ProductID })" class="btn btn-warning btn-block">Düzenle</a></td>
                </tr>
                }
            </tbody>
        </table>
                    }
</div>