@model List<KategoriViewModel>
@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Kategoriler</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table" id="tblkategori">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ad</th>
                    <th>Açıklama</th>
                    <th>Düzenle</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    var kat = Model[i];
                    <tr class='@(i%2==0?"cift":"tek")'>
                        <th scope="row">@(i + 1)</th>
                        <td>@kat.Ad</td>
                        <td>@kat.Aciklama</td>
                        <td>
                            <a href="@Url.Action("Duzenle","Kategori",new {id=kat.Id})" class="btn btn-block btn-warning">
                                Düzenle
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>